body{
    background-color: rgb(217, 227, 255);
}    
h1{
    color: rgb(72, 72, 255);
}
nav{
    width: 50%;
    height: 50px;
    background-color: lightslategray;
}
a{
    color: whitesmoke;
    background-color: grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}
footer{
    position:absolute;
    bottom:0;

}
.kebap{
    margin-left: 30px;
    margin-top: 20px;
}
table{
    width: 80%;
}
th,tr,td{
    text-align: center;
}
footer{
        font-weight: bold;
}
